<div class="face-snap-card">
    <!-- On spécifie "faceSnap.title" pour récupérer la valeur de la propriété "title" de l'objet "faceSnap -->
    <h2>{{ faceSnap.title }}</h2>
    <p>Mise en ligne le {{ faceSnap.createdDate }}</p>
    <!-- Ici l'utilisation des crochets "[]" aux propriétés nous permet ,dans les cas où les valeurs ne sont pas des string, de les lier quand même -->
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.imageDescription">
    <p>{{ faceSnap.description }}</p>
    <p>
        <button (click)="onSnap()">{{ buttonText }}</button>
        🫶 {{ faceSnap.snaps }}
    </p>
</div>